.profilePage {
    display: flex;
    align-items: self-start;
    flex-direction: column;
}

.userInfoHeader {
    display: flex;
    justify-content: space-between;
}

.userInfoHeaderTitle{
    margin-right: 15px;
}

.editUserInfoButton {
    border-radius: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.userInfoData {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (hover: hover) {
    .editUserInfoButton:hover {
       background-color: #18301947; 
    }
}
