.modal {
    height: 100vh;
    width: 100vw;
    background-color: #00000047;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.modal[data-is-active='true'] {
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
}

.modalContent {
    display: flex;
    flex-direction: column;
    width: 50vw;
    padding: 20px;
    border-radius: 12px;
    background-color: #fff;
}

.modalContent[data-is-active='true'] {
    transform: scale(1);
    transition: scale 0.4s;
}

.modalBtn {
    align-self: flex-end;
    border: none;
    background-color: transparent;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    background-color: #ece9e9b5;
}

.contentContainer input {
    width: 250px;
    padding: 20px;
    margin: 10px;
    border: none;
    border-radius: 15px;
    outline-color: #317957;
    outline-width: 1px;
}

.controlBtn {
    width: 150px;
    padding: 15px;
    cursor: pointer;
    color: #0d4129;
    background-color: #c8cdac;
    border: none;
    border-radius: 25px;
    transition: all 0.5s ease;
}

@media (hover: hover) {
    .modalBtn:hover {
        scale: 1.5;
        color: #8e0000;
    }

    .controlBtn:hover {
        background-color: #0d4129;
        color: #d0e1ba;
    }
}
