.profilePage {
    display: flex;
    align-items: self-start;
    flex-direction: column;
}

.userInfoData {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.userTasks {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.userTaskLists {
    display: flex;
    flex-wrap: wrap;
}
